.container {
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 32px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.8);
  overflow: auto;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: table;
}

.inner {
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.content {
  margin: auto;
  padding: 20px;
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #222;
  box-sizing: border-box;
  border-radius: 10px;
}

.button {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 0;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
