.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  max-width: 600px;
  width: 100%;
  height: 500px;
  background-color: #000;
}

.button {
  position: absolute;
  top: 32px;
  right: 32px;
  padding: 0;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}
